h3 
{
    background-color: cornflowerblue;
}

p
{
    background-color: aqua;
}

a
{
    background-color: rgb(59, 223, 100);
}

span
{
    background-color: rgb(203, 101, 101);
}

div
{
    background-color: chocolate;
}
