body
{
    background-color: blueviolet;
}

div 
{
    height: 300px;
    width: 300px;
    background-color: black;
}

@media screen and (max-width:500px)
{
    body 
    {
        background-color: crimson;
    }

    div 
    {
        border-radius: 75%;
    }
}