section{
    height: 200px;
    width: 200px;
    margin: 20% auto;
    transition: 3s;
    position: relative;
    transform-style: preserve-3d;   /*to use the backface hidden property*/
}

section:hover
{
    transform: rotateY(180deg);
}

div:nth-of-type(1)
{
    height: 100%;
    width: 100%;
    background-color: aqua;
    position: absolute;
    z-index: 1;
    backface-visibility: hidden;   /*this property works only when we use transform-style: preserve-3d; in section */

}

div:nth-of-type(2)
{
    height: 100%;
    width: 100%;
    background-color: brown;
}

body{
    perspective: 900px;    /*3d effect dene ke liye h*/
}