div
{
    height: 100px;
    width: 100px;

    background:linear-gradient(blue,white,red,yellow);
    border-radius: 50%;
    border: 4px solid black;

    animation-name: bounceball;
    animation-duration: 800ms;

    animation-iteration-count: infinite;
    animation-direction: alternate;

    animation-timing-function: ease-in;   /*isse speed tez hogi jese jse ball neeche giregi*/
}

 @keyframes bounceball 
{
    0%
    { 
         transform: translateY(0px);   /*translate move krwata h*/
    } 
    100%
    {
        transform: translateY(600px) rotate(360deg);
    } 
 } 



 /* @keyframes bounceball {
    0%
    {
        position: relative;
        top:8px
    }

    10%
    {
        position: relative;
        top: 60px
    }
    20%
    {
        position: relative;
        top: 120px
    }
    30%
    {
        position: relative;
        top: 180px
    }
    40%
    {
        position: relative;
        top: 240px
    }
    50%
    {
        position: relative;
        top: 300px
    }
    60%
    {
        position: relative;
        top: 360px
    }
    70%
    {
        position: relative;
        top: 420px
    }
    80%
    {
        position: relative;
        top: 480px
    }
    90%
    {
        position: relative;
        top: 540px
    }
    100%
    {
        position: relative;
        top: 600px
    }
}  */